<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Doors</title>
</head>
<body>
    <h1>You walk into a room that contains three doors.</h1>
    <p>The door through which you entered jams shut behind you. Two people are crouched over computers, but they shriek as you ask for help.<br> You must help yourself. Which door do you choose?</p>
    <button><a href="/start">Left</a></button>
    <button><a href="/riddle">Center</a></button>
    <button><a href="/paperclip">Right</a></button>
</body>
</html>