<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dysentery</title>
</head>
<body>
    <h1>You died of dysentery.</h1>
    <img src="/static/died.jpg" width="200px">
    <p>You were technically correct about the European swallow, but nobody likes a know-it-all... I'm so lonely...</p>
    <button><a href="/start">START OVER</a></button>
    <!-- <a href = "/"> <button>go home</button></a> -->
</body>
</html>