<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>FREEDOM</title>
</head>
<body>
    <h1>YOU MADE IT!</h1>
    <h2>WAIT... WHERE ARE YOU?</h2>
    <p>As your eyes search in every direction, you are confronted with nothing but a endless sea of sand.<br>What kind of sadist made this?</p>
    <button><a href="/start">PLAY AGAIN</a></button>
</body>
</html>