<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Paperclip</title>
</head>
<body>
    <h1>A paperclip...?</h1>
    <p>As you walk into the room, a giant, agressively helpful paperclip offers to help you.<br>As it drones on, you find yourself transfixed... its eyes... are they attached? Or are they floating?WHAT IS THIS?<br>It offers you a solution: Take the door on the left. Do you take it?</p>
    <button><a href="/trust">Left</a></button>
    <button><a href="/end">Right</a></button>
</body>
</html>