<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Riddle</title>
</head>
<body>
    <h1>A bridgekeeper stands between you and the next door...</h1>
    <p>"Answer this question and you may pass," the old man states.<br>"What is the airspeed velocity of an unladen swallow?"</p>
    <button><a href="/death">11 meters per second.</a></button>
    <button><a href="/paperclip">An African or European swallow?</a></button>
</body>
</html>