<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Start</title>
</head>
<body>
    <h1>You awaken in a strange room.</h1>
    <p>Crude paintings of a blue and yellow snake have been finger painted on the wall. A dim light illuminates two doors to your left and right. Which do you try?</p>
    <img src ="/static/py.png" width="200px"><br>
    <button><a href="/riddle">Left</a></button>
    <button><a href="/3+doors">Right</a></button>
</body>
</html>