<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Trust</title>
</head>
<body>
    <h1>You trusted a creepy, aggressive, talking paperclip.</h1>
    <h2>What the heck is wrong with you? IT WAS A TALKING PAPERCLIP.</h2>
    <h3>You died, obviously. Reevaluate your decisions.</h3>
    <button><a href="/start">START OVER</a></button>
</body>
</html>